<p id="notice"><%= notice %></p>

<h1>Rutas</h1>


<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">organizacion</th>
      <th scope="col">Inicio Ruta</th>
      <th scope="col">Fin Ruta</th>
      <th scope="col">Tiempo de viaje</th>
      <th scope="col">Paradas</th>
      <th scope="col">Acción</th>
      <th scope="col">Conductor</th>
      <th scope="col">N° Vehicular</th>
    </tr>
  </thead>
  <tbody>
    <% @routes.each do |route| %>
    <tr>
      
      <td><%= route.start_at %></td>
      <td><%= route.ends_at %></td>
      <td><%= route.travel_time %></td>
      <td><%= route.total_stops %></td>
      <td><%= route.status %></td>
      <td>
      <td>
        <% route.organizations.each do |o| %>
          <%= o.name %>
        <% end%>
      </td>

        <% route.drivers.each do |d| %>
          <%= d.name %>
        <% end%>
      </td>
      <td>
        <% route.vehicles.each do |v| %>
          <%= v.plate %>
        <% end%>
      </td>

    
      <td><%= link_to 'Show', route %></td>
      <td><%= link_to 'Edit', edit_route_path(route) %></td>
      <td><%= button_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     <% end%>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Route', new_route_path ,remote: true%>
